<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @topic.subject %> by <%= @topic.user.email %>
	</div>
	<div class="panel-body">
		<%= @topic.body %>
	</div>
</div>

<hr>
<%= render 'comments/form' if user_signed_in? %>
<hr>

<% @topic.comments.each do |comment| %>
<% if comment.persisted? %>
<div class="panel panel-default">
	<div class="panel-heading"><%= comment.user.email %></div>
	<div class="panel-body">
		<%= comment.content %>
	</div>
</div>
<% end %>
<% end %>

<%= link_to 'Back', category_path(@topic.category_id), class: 'btn btn-danger' %>